<form id='loginForm' action='/login' method='post'>
  <div class='login-group'>
    <label for='username'>Usuário:</label>
    <input
      type='text'
      id='username'
      name='username'
      placeholder='Digite seu usuário'
      required
    />
  </div>
  <div class='login-group'>
    <label for='password'>Senha:</label>
    <input
      type='password'
      id='password'
      name='password'
      placeholder='Digite sua senha'
      required
    />
  </div>
  <button type='submit' class='btn-submit'>Entrar</button>
</form>
